.skills-part {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.skills-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  margin-top: 15px;
}

.skills-header h3 {
  margin: 0;
  font-family: monospace;
  font-size: 20px;
}

.separator-skills {
  border: none;
  border-top: 1px solid #ccc;
  width: 100%;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.skill-item {
  display: inline;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  background-color: rgb(44, 44, 44);
  padding: 5px;
  margin: 10px;
  border-radius: 7px;
  border: #6d2eff solid 1px;
  font-family: monospace;
}
