.pd-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 320px;
  gap: 20px;
  overflow: hidden;
}

.pd-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
    url("../../assets/backgrounds/techback.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -2;
}

.pd-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
}

.photo {
  background-image: url("../../images/cvFoto.png");
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px 1px rgba(235, 185, 255, 0.3);
  margin-right: 100px;
}

.text-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
  position: relative;
  max-width: 700px;
}

.text-content {
  padding: 20px 5px;
  height: 170px;
  overflow: hidden;
  max-width: 0;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.6s ease-out;
  line-height: 28px;
  font-family: monospace;
}

.text-content.expand {
  max-width: 800px; /* Ajusta esto según tu diseño */
  transform: scaleX(1);
  opacity: 1;
}

.bracket {
  font-size: 190px;
  font-weight: 300;
  line-height: 1;
  user-select: none;
  transition: transform 0.6s ease-out;
  position: relative;
  z-index: 1;
}

.left-brace {
  transform: translateX(-5px); /* Muy pegada al centro */
}

.right-brace {
  transform: translateX(5px);
}

.left-brace.open {
  transform: translateX(-50px); /* Se abre bien hacia la izquierda */
}

.right-brace.open {
  transform: translateX(50px); /* Se abre bien hacia la derecha */
}

.animated-text.hidden {
  display: none;
}

.animated-text.visible {
  display: block;
  white-space: pre-wrap;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 1250px) {
  .pd-container {
    flex-direction: column;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;
  }

  .photo {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .text-block {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }

  .bracket {
    font-size: 120px;
  }

  .text-content {
    height: auto;
    max-width: 100%;
  }

  .text-content.expand {
    max-width: 90%; /* Para que no se expanda demasiado horizontalmente */
  }
}

/* Reducción progresiva del .text-block */
@media screen and (max-width: 1100px) {
  .text-block {
    max-width: 600px;
  }

  .bracket {
    font-size: 100px;
  }
}

@media screen and (max-width: 900px) {
  .text-block {
    max-width: 450px;
  }

  .bracket {
    font-size: 80px;
  }
}

@media screen and (max-width: 700px) {
  .text-block {
    max-width: 90%;
  }

  .bracket {
    font-size: 60px;
  }
}

@media screen and (max-width: 500px) {
  .text-block {
    max-width: 290px;
  }

  .bracket {
    font-size: 60px;
  }
}
