.pd-table {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    margin: 50px;
    justify-items: center;
}

.bg-title-square {
    grid-column: 1;
    grid-row: 1;
    background-image: url('../../images/cvFoto.png');
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1),
                0 1px 3px rgba(255, 255, 255, 0.08);
    border: white 2px solid;
}

.bg-description-square {
    display: flex;
    grid-column: 2 / 5;
    grid-row: 1;
    background-color: #683e9e;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 20px;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 10px;
    border: white 2px solid;
}