.header {
  width: 100%;
  height: min(100vh, 850px);
  background-image: url("../../assets/images/ParallaxBackgroundportfolio1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 2600px) {
  .header {
    height: min(100vh, 1150px);
  }
}

@media (max-width: 1920px) {
  .header {
    height: min(90vh, 800px);
  }
}

@media (max-width: 1350px) {
  .header {
    height: min(80vh, 550px);
  }
}

@media (max-width: 1150px) {
  .header {
    height: min(70vh, 450px);
  }
}

@media (max-width: 940px) {
  .header {
    height: min(60vh, 400px);
    background-position: top;
  }
}

@media (max-width: 850px) {
  .header {
    height: min(50vh, 300px);
    background-position: top;
    background-size: cover;
  }
}

@media (max-width: 640px) {
  .header {
    height: min(40vh, 200px);
    background-position: top;
    background-size: cover;
  }
}
