.cardExp {
  max-width: 500px;
  border-radius: 0.5rem;
  background-color: #141414;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 1);
  border: 1px solid transparent;
}

.cardExp a {
  text-decoration: none;
}

.contentExp {
  padding: 1.1rem;
}

.imageExpPixel {
  object-fit: cover;
  width: 100%;
  height: 150px;
  background-image: url("../../assets/images/pixel-logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imageExpCoolmod {
  width: 100%;
  height: 150px;
  background-image: url("../../assets/images/coolmod-logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.titleExp {
  color: #cfcfcf;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.descExp {
  margin-top: 0.5rem;
  color: #bdbdbd;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.actionExp {
  display: inline-flex;
  margin-top: 1rem;
  color: #afafaf;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #3f0086;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 1);
}

.actionExp span {
  transition: 0.3s ease;
}

.actionExp:hover span {
  transform: translateX(4px);
}
