.cardExp {
  position: relative;
  width: 100%;
  height: 200px;
  background: linear-gradient(-45deg, #cf86ff 0%, #6f00ff 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.cardExp:hover {
  box-shadow: 0px 0px 30px 1px rgba(204, 75, 255, 0.3);
}

.card__content {
  font-family: monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #eec9ff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.cardExp:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 26px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 16px;
  color: #777;
  line-height: 1.4;
}

.card__duration {
  margin: 10px 0 0;
  font-size: 16px;
  color: #777;
  line-height: 1.4;
}

@media (max-width: 850px) {
  .cardExp {
    height: 220px;
  }
}

@media (max-width: 768px) {
  .cardExp {
    height: 360px;
  }
}

@media (max-width: 742px) {
  .cardExp {
    height: 370px;
  }
}

@media (max-width: 723px) {
  .cardExp {
    height: 400px;
  }
}

@media (max-width: 707px) {
  .cardExp {
    height: 450px;
  }
}

@media (max-width: 700px) {
  .cardExp {
    height: 220px;
  }
}

@media (max-width: 691px) {
  .cardExp {
    height: 240px;
  }
}

@media (max-width: 621px) {
  .cardExp {
    height: 260px;
  }
}

@media (max-width: 551px) {
  .cardExp {
    height: 290px;
  }
}

@media (max-width: 489px) {
  .cardExp {
    height: 310px;
  }
}

@media (max-width: 454px) {
  .cardExp {
    height: 330px;
  }
}

@media (max-width: 427px) {
  .cardExp {
    height: 350px;
  }
}

@media (max-width: 401px) {
  .cardExp {
    height: 380px;
  }
}

@media (max-width: 391px) {
  .cardExp {
    height: 430px;
  }
}

@media (max-width: 383px) {
  .cardExp {
    height: 460px;
  }
}
